.app {
	display: flex;
	flex-direction: row;
}

.app > * {
	flex: 1 0 auto;
}

.main {
	padding: 10px;
}

.locales-pane {
	flex-grow: 0;
	padding: 10px;
	border-right: solid 1px #444;
}

td, th {
	text-align: left;
}

button {
	background: #ddddff none;
	border: none;
	outline: none;
	font-size: 1rem;
	box-sizing: border-box;
	padding: 4px 8px;
	margin: 0 1px;
	display: inline-block;
	text-align: center;
	color: #000;
	cursor: pointer;
}

button:hover {
	background-color: #eeeeff;
}

button:active {
	background-color: #ccccee;
}

button.open {
	background: #ff6d5c;
	color: #fff;
}
button.save {
	background: #31b26a;
	color: #fff;
}

h1 {
	font-size: 3rem;
	text-align: left;
	color: navy;
}
h3 {
	font-size: 1rem;
	text-align: left;
	color: navy;
	margin: 0;
}

ul {
	font-size: 1rem;
	padding: 0;
	margin: 0;
	list-style: none;
}
li {
	padding: 0;
	margin: 0.2rem 0;
}

.table {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
}
.table > .head {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
}
.table > .head > div {
	flex: 0 0 400px;
	padding: 2px;
	margin: 0;
	border-bottom: solid 1px #444;
}
.table > .body {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
}
.table > .body > div {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	flex: 0 0 auto;
	padding: 2px;
}
.table > .body > div > div {
	flex: 0 0 400px;
	width: 0;
	height: 300px;
	position: relative;
	padding: 0;
	margin: 0;
}
.table > .body > div > div:first-child {
	border-right: solid 1px #444;
	overflow: auto;
}
.table > .body > div > div:first-child,
.table > .head > div {
	font-size: 0.8em;
	font-weight: bold;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.table > .body > div > div:first-child.selected,
.table > .head > div.selected {
	background: #2cc0ff;
}

.table.stretched > .body > div,
.table.stretched > .head {
	justify-content: space-between;
}
.table.stretched > .body > div > div,
.table.stretched > .head > div {
	flex-grow: 1;
}

.table > .body > div > div:first-child,
.table > .head > div:first-child {
	flex: 0 0 200px;
}

.table > .body > div > div > textarea {
	box-sizing: border-box;
	margin: 0;
	width: 100%;
	height: 100%;
	outline: none;
	resize: none;
	border: none;
	opacity: 0.5;
	font-size: 1rem;
	background: #fff none;
}
.table > .body > div > div > textarea.equals-en {
	background-color: lightyellow;
}
/*td textarea.selected {*/
	/*opacity: 1;*/
/*}*/
.table > .body > div button {
	position: absolute;
	display: inline-block;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.table > .body > div > div:first-child button {
	left: auto;
	top: 0;
	right: 0;
	transform: none;
	opacity: 0;
	transition: opacity 0.2s linear;
}
.table > .body > div > div:first-child:hover button {
	opacity: 1;
}
